body{
    background-color: rgb(65, 34, 34);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.common{
    background-color: grey ;
    border: 2px solid white;
    position: absolute;
}

.header{
    top: 5px;
    left: 15px;
    right:25px;
    height: 100px;
}
.left{
    top: 115px;
    left: 15px;
    width:100px;
    bottom: 40px;
}
.right{
    top: 115px;
    right: 25px;
    width:100px;
    bottom: 40px;
}
.footer{
    bottom: 5px;
    left: 15px;
    right:25px;
    height: 25px;
    position:fixed;
    z-index: 1;
}

.main{
    top: 115px;
    left: 130px;
    right:140px;
    height: fit-content;
}

h1{
    color:whitesmoke;
    text-align: center;
    font-weight: bold;
}

h3{
    color:whitesmoke;
    font-style:italic;
    text-decoration: wavy;
}

a{
    color:whitesmoke;
}

.fancy{
    color: black;
}
.ugly{
    color: bisque;
}
.beautiful{
    color: aquamarine;
}

.purpletext{
    color: blueviolet;
}

.redtext{
    color: red;
}